
body{
    background-color: #d4d4d4;
    /* background-image: url(img/bangladesh2.jpg); */
}

#logo{
    
}

#logo h1{
    font-size: 70px;
    font-style: italic;
    font-weight: 900;
    color: rgb(235, 235, 233);
    margin: 60px 0;
    padding-bottom: 10px;
    border: 10px solid #123368;
    padding: 20px;
    text-align: center;
}

#intro{
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;
    margin: 50px 0;
    border-right: 2px solid #858484;
    padding: 20px;
    text-align: end;

}
#intro p{
    color:#6f8585;
    font-size: 20px;
    line-height: 30px;
}

#intro p:hover{
    color: yellow;
}

#mejba-pic{
    text-align: end;
}

.logo{
  margin-top: 50px;
}

/* Nav ber */
nav{
  width: 100%;
  height: 60px;
  background-color:#0db2b2;
}

nav ul{
  float: left;

}
nav ul li{
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a{
  display: block;
  font-family: ;
  color: #555454;
  font-size: 20px;
  padding: 15px 20px;
  text-decoration: none;
}

nav ul li a:hover{
  color: red;
  background-color: #12a1a1;
}

nav ul li ul {
  display: none;
  background-color: #0db2b2;
  position: absolute;
  padding:  0;
  border-radius: 0 0px 5px 5px;
}

nav ul li:hover ul{
  display: block;
}

nav ul li ul li {
  width: 130px;
  border-radius: 5px;
}

nav ul li ul li a {
  padding: 7px 20px;
}

nav ul li ul li a:hover {
  background-color:#12a1a1;
}


/* logo */

.grid-container{
  display: grid;
  grid-template-columns: repeat(8, 100px);
  background-color: red;
}






.article-body{
  margin-top: 30px;
}

#vertical-short-xs{
    padding: 20px;
    background: #fff;
    height: 600px;
    box-shadow: 0px 0px .3px rgb(37, 37, 37);
  }
  
  #vertical-short-xs:hover{
    box-shadow: 0px 20px 20px rgb(182, 180, 180); 
  }

  #vertical-short-xs h6{
   font-size: 1.1rem;
   font-weight:500;
   line-height: normal;
   color: rgb(66, 65, 65);
  }
  
  #vertical-short-xs h6:hover{
    color: blue;
  }
  
  #vertical-short-xs h4{
    background-color: #052962;
    color:#fff;
    padding: 5px 10px 10px 15px;
  }


  #vertical-short-xs .card-body{
    background: var(--light);
    padding-bottom: .2rem;
  }
  
  #vertical-short-xs a{
   text-decoration: none;
  }
  
  #vertical-short-xs p:hover{
   color: blue;
  }
  
  .image-div{  
    /* transition-delay: 1s; */
    transition-duration: .5s;
    }
    
    .card-img-top{
      /* transition-delay: 1s; */
      /* transition-duration: .5s;  */
    }
    
    .image-div:hover{
      transform: scale(1.1);
    }

    #vertical-short-xs:hover .image-div{
      transform: scale(.3);
    }
